body {
	background: url("photos/back.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}
.img-circular{
	width: 230px;
	height: 230px;
	background-size: cover;
	display: block;
	border-radius: 115px;
	-webkit-border-radius: 115px;
    -moz-border-radius: 115px;
    border:10px solid #021a40
}
.img-circular-my{
	width: 150px;
	height: 150px;
	background-size: cover;
	display: block;
	border-radius: 75px;
	-webkit-border-radius: 75px;
    -moz-border-radius: 75px;
    border:5px solid blue
}
.img-circular-icon{
	width: 60px;
	height: 60px;
	background-size: cover;
	display: block;
	border-radius: 30px;
	-webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border:3px solid #FFFFFF
}
.bold-blue {
	color: #0045FF;
	font-weight: bold;
	font-size: 70px;
	text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
.bold-red {
	color: red;
	font-weight: bold;
	font-size: 30px;
	text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
#num {
	color: white;
}
#info-bar {
	background-color: red;
	display: table;
}
#aboutme {
	background-color: blue;
	border-radius: 5px;
}
#aboutme:hover {
	background-color: red;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}
#portfolio {
	background-color: green;
	border-radius: 5px;
}
#portfolio:hover {
	background-color: red;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}
#projects {
	background-color: blue;
	border-radius: 5px;
}
#projects:hover {
	background-color: red;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}
#blog {
	background-color: orange;
	border-radius: 5px;
}
#blog:hover {
	background-color: red;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}
#contactme {
	background-color: green;
	border-radius: 5px;
}
#contactme:hover {
	background-color: red;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}
.card-img {
	width: 80%;
	height: 400px;
	margin-top: 5%;
	margin-bottom: 5%;
}
.card-txt {
	height: 200px;
}
.card-pos {
	display: inline;
	float: left;
}
.border-set {
	border-bottom: 3px solid blue 
}

